<div class="container" ng-controller="durCtrl">
    <div align='center' style='margin-top:-30px'>
        <h3 class="page-header"><span ng-bind='wssmode'></span> of Duration Codes File</h3>
    </div>

    <form name="fldtyfrm" style=" font-size :smaller;padding-left:50px; margin-top:10px" method="get">
        {{>toaster}}

        <div class="form-control" class="col-md-6">
            <label>Duration Code:* :</label>
            <input name="durcd" style="text-transform: uppercase;" ng-model="durdet.durcd" ng-disabled="isDisabled"
                type="text" />

        </div>


        <div class="form-control" class="col-md-6">
            <label> Duration:* : </label>
            <input name="durdesc" ng-model="durdet.durdesc" placeholder="Please Enter dur Description" type="text" />

        </div>


        <div>

            <button type="submit" class="btn btn-default" ng-click="submitdat()"><span
                    ng-bind='wssmode'></span></button>
            <a ng-if="wssmode != 'Add'" class="btn btn-default" id="txtbackbut" href="/dispduration#?wssmode=Maintain">
                back
            </a>
            <a ng-if="wssmode == 'Add'" class="btn btn-default" id="txtbackbut" href="/dashboard">
                back
            </a>

        </div>

    </form>
</div>