<div class="container" ng-controller="dashCtrl">
    
    <h4>Maintenance of Duration Codes File - \{{usname}} (\{{uslogin}}) </h4>

    <div id="myDIV" ng-controller="durCtrl">
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" style="margin-left :85px">
        </dir-pagination-controls>



        <table class="table" style="font-size:8pt">
            <thead>
                <tr>
                    <th width='80px'>durupation  Code:</th>
                    <th width='250px'>Description</th>
                    <th>Action</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class="form-control" ng-model="txtsearch.durcd"></td>
                    <td><input class="form-control" ng-model="txtsearch.durdesc "></td>
                    <td><button class="btn btn-primary" ng-click="searchdet(txtsearch)">Search</button></td>
                </tr>


                <tr dir-paginate="durtyrc in durlist  | orderBy:'durdesc' | itemsPerPage:5">
                    <td width='80px'>
                        <span ng-bind="durtyrc.durcd | uppercase" ng-bind="durtyrc.durcd | uppercase"></span>
                    </td>
                    <td width="250px" ng-bind="durtyrc.durdesc "></td>
                    <td width="50px"><button class="btn btn-danger" ng-click="del(durtyrc._id)">Delete</button></td>
                    <td width="50px"><button class="btn btn-warning" ng-click="edit(durtyrc._id)">Edit</button></td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" style="margin-left :85px">
        </dir-pagination-controls>
    </div>
</div>



  