<div class="container" ng-controller="dashCtrl">
    
    <h4>Maintenance of Occupation Codes File - \{{usname}} (\{{uslogin}}) </h4>

    <div id="myDIV" ng-controller="occCtrl">
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" style="margin-left :85px">
        </dir-pagination-controls>



        <table class="table" style="font-size:8pt">
            <thead>
                <tr>
                    <th width='80px'>occupation  Code:</th>
                    <th width='250px'>Description</th>
                    <th>Action</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class="form-control" ng-model="txtsearch.occupationcd"></td>
                    <td><input class="form-control" ng-model="txtsearch.occupationdesc "></td>
                    <td><button class="btn btn-primary" ng-click="searchdet(txtsearch)">Search</button></td>
                </tr>


                <tr dir-paginate="occtyrc in occlist  | orderBy:'occupationdesc' | itemsPerPage:5">
                    <td width='80px'>
                        <span ng-bind="occtyrc.occupationcd | uppercase" ng-bind="occtyrc.occupationcd | uppercase"></span>
                    </td>
                    <td width="250px" ng-bind="occtyrc.occupationDesc "></td>
                    <td width="50px"><button class="btn btn-danger" ng-click="del(occtyrc._id)">Delete</button></td>
                    <td width="50px"><button class="btn btn-warning" ng-click="edit(occtyrc._id)">Edit</button></td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" style="margin-left :85px">
        </dir-pagination-controls>
    </div>
</div>



  