<div id="main-content" class="container container-fluid" style=" margin-top: 0px; background-size: 100% 100%;"
    ng-controller="enquireCtrl">

    <h2>Automatic Slideshow</h2>
    <p>Change image every 2 seconds:</p>

    <div class="jumbotrom jumbotron-fluid">

        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="./../../images/home/SSPM_Logo.jpg" style="width:100%">
            <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="./../../images/home/image_1.png" style="width:100%">
            <div class="text">Caption Two</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="./../../images/home/image_2.png" style="width:100%">
            <div class="text">Caption Three</div>
        </div>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

</div>