<div id="main-content" class="container container-fluid" style=" margin-top: 0px; background-size: 100% 100%;"
    ng-controller="enquireCtrl">

    <div align="center" style="background-color:transparent; text-align:justify">
        SCIENCE STAR PEST MANAGEMENT – Vector Control was set-up in 2017 to provide a service to
        some of our existing clients who were facing issues with their
        vendors. Having built the service system, we expanded into
        providing our Vector Control Services to more clients.
        <br><br>
        The team’s experience and expertise spans 12 year of industry
        service and while we are not the largest, we focus on client
        relationship development with professional and qualified services
        using only NEA approved products.
    </div>

    <div class="row " style="background-color :transparent;   width:100%">
        <div class="col-sm-4" style="background-color:transparent;">SCIENCE STAR PEST MANAGEMENT
            A. General Pest
            <ul>
                <li>Rodents (Rats & Mice Only).</li>
                <li>Cockroaches</li>
                <li>Common Ants</li>
                <li>Houseflies</li>
                <li>Mosquito</li>
            </ul>
            B. Additional Ad Hoc Services
            <ul>
                <li>Hive Removal-(Wasp/Hornet)</li>
                <li>Flea</li>
                <li>Landscape Flies</li>
                <li>Reptile Removal</li>
            </ul>

            C. Anti Viral & Anti-Bacterial
            <ul>
                <li>Sanitization Treatment & Service</li>
            </ul>

        </div>

        <div class="col-sm-4" style="background-color:transparent">
            <img src='../../images/home/image_1.png' id="img_1">
            {{!--  <img  id="img_1" style="padding:10px;w  background-size: 310px 406px; "> --}}
        </div>

        <div class="col-sm-4" style="background-color:transparent">
            D. Site Inspection Servic
            <ul>
                <li>
                    Our team of technicians will provide
                    a Site Inspection service and recommended treatment solutions.
                </li>
            </ul>
            E. Service Warranty
            <ul>
                <li>If the specific service indicated in the service guarantee form is not duly
                    performed, we will offer a rebate of up to 100% depending on the
                    number of services not carried out.
                </li>
            </ul>
        </div>
    </div>

    <div class="row " style="background-color:transparent;">

        <div class="col-sm-6" style="margin-top: 10px;text-align:justify">
            <h5><u>Key Offerings</u></h5>
            We offer a FULL Pest Management & Anti-Viral/
            Anti-Bacterial Treatment Service
            <h5><u>Key Clients</u></h5>
            <ul>
                <li>Regent Grove</li>
                <li>ASIA Pacific Shipyard</li>
                <li>Orange Ballroom</li>
                <li>Urbanite</li>
                <li>Canberra Residences</li>
                <li>S11 Kopitiams</li>
                <li>Crave Nasi Lemak</li>
                <li>DG Glass Enterprise</li>
                <li>Nazreen Catering</li>
                ... and many others</li>
            </ul>
        </div>
        <div class="col-sm-2" style="background-color:transparent">
            <img src='../../images/home/image_2.png' id="img_2">
        </div>
        <div class="col-sm-2" style="background-color:transparent">
            <img src='../../images/home/image_3.png' id="img_3">
        </div>
        <div class="col-sm-2" style="background-color:transparent">
            <img src='../../images/home/image_4.png' id="img_4">
        </div>
    </div>
</div>