<div id="main-content" class="container container-fluid" style=" margin-top: 0px; background-size: 100% 100%;"
    ng-controller="enquireCtrl">

<div class="jumbotron jumbotron-fluid" style="background-color:blanchedalmond">
huiljkl;;lk;jk
</div>

</div>