<!DOCTYPE html>

<head>

    {{>linkscript}}

</head>

<body link="#FFFFFF" vlink="#FFFFFF" alink="#FFFFFF" style="font-family: Arial, Helvetica, sans-serif;
        color:black; font:smaller" topmargin="0" leftmargin="0" ng-app='ermsapp' ng-strict di>
    <div id="main-content" class="container" ng-controller='myfirstcontroller'>
        {{{body}}}

    </div>
    {{> getscript}}
</body>

</html>