            <div >
                <p  align = "center"  style="background-color:transparent; margin-top: 0; margin-left: 0px; width:600px">
                    <font face="arial" size="1" color="#438768">
                        2020© Copyright of SCIENCE STAR PEST MANAGEMENT PTE LTD Website Designed and Developed by A. Razak
                        Subahan.
                    </font>
                </p>
            </div>