<div class="row" style=" margin-top : 0px; margin-left:0px">

    <div class=" col-sm-9" style="background-color: transparent;">
        <span id="indextitle"> SCIENCE STAR PEST MANAGEMENT PTE LTD – Vector Control
    </div>
    <div align="center" class="col-sm-2">
         <img id="logo-img" src="../../images/home/SSPM_Logo.jpg" style="margin-top : 0px; repeat:no-repeat  "> 

        <font size='1' color="black">
            \{{wssdate | date: "d MMM yyyy h:mm a"}}</font></span> <br>
    </p>

</div>