<div ng-controller="respasswrdCtrl">
    <div>
        <h4 class="page-header">Reset Of Password \{{type}} -  \{{name}} (\{{loginid}})</h4>
    </div>
    {{>toaster}}
    <form name="rstfrm">
        <div style="background-color:rgb(25, 68, 2); color:cornsilk; font-size :smaller">
            Mode : Reset Password
        </div>

        <!--<div ng-if="disinput == true" >-->
        <div ng-if="disinput == true ">

            <div class="form-group">
                <label>New Password:
                    <!--{ {resetrc.resetPasswordToken}}--></label>
                <input name="resetPasswordToken" ng-model="resetrc.resetPasswordToken" type="hidden"
                    ng-bind="resetrc.resetPasswordToken" />
                <input class="form-control" name="newpword" ng-model="resetrc.newpword" placeholder="New Password"
                    type="password" />

            </div>
            <div class="form-group">
                <label>Verify Password:</label>
                <input class="form-control" name="verpword" ng-model="resetrc.verpword" placeholder="Verify Password"
                    type="password" />
            </div>

            <div>
                <button type="submit" class="btn btn-primary" ng-click="butreset()">Reset</button>
                <!--<button type="submit" id="txtbutton" class="btn btn-default">submit</button>-->
                {{wssmode}}
                <!--<a class="btn btn-default" ng-if="wssmode != 'Add'" id="txtbackbut" href="/maintcust">
                    back
                </a>-->
                <a class="btn btn-primary" id="txtbackbut" href="/dashboard">
                    back
                </a>

            </div>
        </div>
        <div ng-if="disinput == false ">

            <div style="grid-row-align:center">
                <p class="alert-danger" style="text-align:center; font-size :smaller; color:#5c0505">Your reset password
                    is invalid or has expired</p>
                <a class="btn btn-primary" style="grid-row-align:center " id="txtbackbut" href="/">
                    back
                </a>

            </div>
        </div>
    </form>
</div>